<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../Css/nav.css">
</head>
<body>
    <div class="nav1">
        <div class="nav1_right">
        <a href="../Components/Home.html">Home</a>
        <a href="../Components/About.html" class="active">About</a>
        <a href="../Components/course.html">Course</a>
        <a href="../Components/blog.html">Blog</a>
        <a href="../Components/contact.html">Contact</a>
        </div>
        <div class="mylogo">
            <h6>KAYNET<br>UNIVERSITY</h6>
                </div>
    </div>
    <div class="wrapper">
        <div class="rolls">
            <div class="image-section">
                <img src="../Images/school.jpg">
            </div>
            <div class="school">
                <h1>About Us</h1>
                <h2>Hi, Welcome to Kaynat University</h2>
                <p>A vibrant and diverse community of scholars, researchers, and students. Our mission is to provide a world-class education, foster innovative research, and promote social responsibility.
 With a rich history dating back to [year], our university has established itself as a leader in fields of excellence. Our faculty and staff are dedicated to providing a supportive and inclusive environment for our students to grow and thrive.
                     We offer a wide range of undergraduate and postgraduate programs, as well as research opportunities, across our faculties. Our campus is equipped with state-of-the-art facilities, and our location in Benin city provides unparalleled access to industry/partnerships.<br>
                     Join us in shaping the future of education and research. Explore our website to learn more about our university, our programs, and our community.
                     </p>
            </div>
        </div>
    <div class="trophy">
        <div class="trophy1">
            <img src="../Images/trophy1.jpg">
            <h3><b>Best Trainer</b></h3>
            <p>2022-2024</p>
        </div>
        <div class="trophy1">
            <img src="../Images/trophy2.jpg" alt="">
            <h3><b>Best Performance</b></h3>
            <p>2022-2024</p>
        </div>
        <div class="trophy1">
            <img src="../Images/trophy3.jpg">
            <h3><b>Top placement</b></h3>
            <p>500+</p>
        </div>
    </div>
    </div>
    <footer class="main">
        <div class="can">
            <div class="sec aboutus">
                <h2>KU</h2>
                <p>Our mission is to provide a comprehensive education that fosters academic excellence. </p>
                    <ul class="sci">
                        <li><a href="https://www.facebook.com/share/jqeNt5pJ2r1CTZuN/?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/tracys_cake_?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@tracyscake?_t=8p7fIcwyWMn&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href="https://wa.me/message/S5VE2Y3SNMQOO1"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
            </div>
            <div class="sec tracy">
                <h2>About us</h2> <ul>
                    <li><a href="#">Friends,Visitors,Community</a></li>
                    <li><a href="#">athletics</a></li>
                    <li><a href="#">International Admissions</a></li>
                </ul>
            </div>
            <div class="sec tracy">
                <h2>The President</h2> <ul>
                    <li><a href="#">Campus map</a></li>
                    <li><a href="#">Library</a></li>
                    <li><a href="#">Employment</a></li>
                </ul>
                 </div>
                 <div class="sec tracy">
                    <h2>Accessibility</h2> <ul>
                        <li><a href="#">Report an Ethical Concern</a></li>
                        <li><a href="#">Nondiscrimination</a></li>
                        <li><a href="#">Privacy Statement</a></li>
                    </ul>
                </div>
        </div>
         </footer>
         <div class="copyrighttext">
            <p>KAYNAT UNIVERSITY</p>
         </div>
         <div class="wear">351 W. UNIVERSITY BLVD., BENIN CITY, UT 84720.</div>
</body>
</html>