<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../Css/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../Css/nav.css">
</head>
<body>
    <div class="nav1">
        <div class="nav1_right">
        <a href="../Components/Home.html">Home</a>
        <a href="../Components/About.html">About</a>
        <a href="../Components/course.html">Course</a>
        <a href="../Components/blog.html">Blog</a>
        <a href="../Components/contact.html" class="active">Contact</a>
    </div>
    <div class="mylogo">
        <h6>KAYNET<br>UNIVERSITY</h6>
            </div>
    </div>
    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>We'd love to hear from you! Whether you're a prospective student,
                or a member of the community, We're here to help.</p>
 </div>
 <div class="container">
    <div class="contactinfo">
        <div class="box">
            <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                <div class="text">
                    <h3 style="color: white;">Address</h3>
                    <p style="color: white;">4651 ugbor road,<br> Benin City,Edo State,<br>55060</p>
        </div>
        </div>
            <div class="box">
                <div class="icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="text">
                        <h3 style="color: white;">Phone</h3>
                        <p style="color: white;">+234 704 1377 437 </p>
                </div>
            </div>
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                        <div class="text">
                            <h3 style="color: white;">Email</h3>
                            <p style="color: white;">tracyomorodion50@gmail.com</p>
                    </div>
        </div>
        </div>
        <div class="contactform">
            <form>
                <h2>Send Message</h2>
                <div class="inputbox">
                    <input type="text" name="name" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputbox">
                    <input type="email" name="email" required="required">
                    <span>Email</span>
                </div>
                <div class="inputbox">
                    <textarea required="required"></textarea>
                    <span>Type your message</span>
                </div>
                <div class="inputbox">
                   <input type="submit" name="" value="send">
                </div>
            </form>
    </div>
 </div>
    </section>
    <footer class="main">
        <div class="can">
            <div class="sec aboutus">
                <h2>KU</h2>
                <p>Our mission is to provide a comprehensive education that fosters academic excellence. </p>
                    <ul class="sci">
                        <li><a href="https://www.facebook.com/share/jqeNt5pJ2r1CTZuN/?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/tracys_cake_?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@tracyscake?_t=8p7fIcwyWMn&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href="https://wa.me/message/S5VE2Y3SNMQOO1"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
            </div>
            <div class="sec tracy">
                <h2>About us</h2> <ul>
                    <li><a href="#">Friends,Visitors,Community</a></li>
                    <li><a href="#">athletics</a></li>
                    <li><a href="#">International Admissions</a></li>
                </ul>
            </div>
            <div class="sec tracy">
                <h2>The President</h2> <ul>
                    <li><a href="#">Campus map</a></li>
                    <li><a href="#">Library</a></li>
                    <li><a href="#">Employment</a></li>
                </ul>
                 </div>
                 <div class="sec tracy">
                    <h2>Accessibility</h2> <ul>
                        <li><a href="#">Report an Ethical Concern</a></li>
                        <li><a href="#">Nondiscrimination</a></li>
                        <li><a href="#">Privacy Statement</a></li>
                    </ul>
                </div>
        </div>
         </footer>
         <div class="copyrighttext">
            <p>KAYNAT UNIVERSITY</p>
         </div>
         <div class="wear">351 W. UNIVERSITY BLVD., BENIN CITY, UT 84720.</div>
</body>
</html>