<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../Css/nav.css">
</head>
<body>
    <div class="nav1">
        <div class="nav1_right">
        <a href="../Components/Home.html">Home</a>
        <a href="../Components/About.html">About</a>
        <a href="../Components/course.html" class="active">Course</a>
        <a href="../Components/blog.html">Blog</a>
        <a href="../Components/contact.html">Contact</a>
        </div>
        <div class="mylogo">
            <h6>KAYNET<br>UNIVERSITY</h6>
                </div>
    </div>
    <h1 class="phone">Courses We Offer</h1>
    <h3 class="itel">Using an advanced quality scoring Alogrithm and machine learning</h3>
    <div class="row">
        <div class="biro">
            <h3>Intermediate</h3>
            <p><br>We offer a wide range of courses to intermediate students,depending on their field of interest.<br>Explore our programs below:<br>
               -Arts & Humanities<br>-Social Sciences<br>-Natural Sciences<br>-Engineering & Technology<br>
               -Business & Management<br>-Health Sciences<br>-Agriculture & Veterinary Medicine<br>-Education<br></p>
 <!-- <button class="btn">See more</button> -->
        </div>
        <div class="biro">
            <h3>Degree</h3>
            <p>Degree Programs are structured academic paths that leads to a specific academic degree<br>We offer a wide range of specific academic degree,<br> Such as:<br>-Associate's Degree<br>-Bachelor's Degree<br>-Master's Degree<br>-Doctoral Degree</p>
            <!-- <button class="btn">See more</button> -->
        </div>
        <div class="biro">
            <h3>Post Graduate</h3>
            <p>Post graduate refers to academic programs or degree thatvare completed after earning an undergraduate degree.<br> We offer:<br>
            -Master's degree(MA, MSc, MEng, MBA, MFA)<br>-Doctoral degree(PhD, DBA,EdD,DSc)<br>
        -Post graduate diplomas and certificate<br>-Professional degree<br>-Research degree<br>
    -Online and distance learning courses<br>-Specialized courses(Executive MBA,data science,cybersecurity, etc.)</p>
            <!-- <button class="btn">See more</button> -->
    </div>
    </div>
    <footer class="main">
        <div class="can">
            <div class="sec aboutus">
                <h2>KU</h2>
                <p>Our mission is to provide a comprehensive education that fosters academic excellence. </p>
                    <ul class="sci">
                        <li><a href="https://www.facebook.com/share/jqeNt5pJ2r1CTZuN/?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/tracys_cake_?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@tracyscake?_t=8p7fIcwyWMn&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href="https://wa.me/message/S5VE2Y3SNMQOO1"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
            </div>
            <div class="sec tracy">
                <h2>About us</h2> <ul>
                    <li><a href="#">Friends,Visitors,Community</a></li>
                    <li><a href="#">athletics</a></li>
                    <li><a href="#">International Admissions</a></li>
                </ul>
            </div>
            <div class="sec tracy">
                <h2>The President</h2> <ul>
                    <li><a href="#">Campus map</a></li>
                    <li><a href="#">Library</a></li>
                    <li><a href="#">Employment</a></li>
                </ul>
                 </div>
                 <div class="sec tracy">
                    <h2>Accessibility</h2> <ul>
                        <li><a href="#">Report an Ethical Concern</a></li>
                        <li><a href="#">Nondiscrimination</a></li>
                        <li><a href="#">Privacy Statement</a></li>
                    </ul>
                </div>
        </div>
         </footer>
         <div class="copyrighttext">
            <p>KAYNAT UNIVERSITY</p>
         </div>
         <div class="wear">351 W. UNIVERSITY BLVD., BENIN CITY, UT 84720.</div>
</body>
</html>